<div id="spinner" class="row col-md-12 text-center spinner" style="display: none;">
  <i class="fa fa-circle-o-notch fa-spin" title="proc" style="font-size:24px"></i>
  <h5 align="center">Processing</h5>
</div>
